@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
}

.principal {
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.principal_texto {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 70%;
    text-align: center;
}

.principal_texto_titulo {
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1, 75rem;
    font-weight: 700;
}

.principal-botao-princ {
    background-color: var(--botao-azul);
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    display: block;
}

.principal-botao-sec {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    display: block;
}

.principal-texto-obs {
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.informacoes {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
}

.informacoes_texto_titulo{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 3rem;
    font-weight: 700;
}

.informacoes_paragrafo {
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.assista {
    display: flex;
    align-items: center;
}

.assista_imagem {
    width: 100%;
    text-align: center;
}

.assista_texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.plataformas {
    padding-top: 15%;
    display: flex;
    align-items: center;
}

.plataformas_texto {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.plataformas_imagens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plataforma_imagens_frente {
    padding-top: 5%;
    padding-left: 2%;
    position: absolute;
}

.plataforma-botao-princ {
    background-color: var(--botao-azul);
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    display: block;
    text-align: center;
    width: 20%;
}

.baixe {
    padding-top: 20%;
    display: flex;
    align-items: center;
}

.baixe_imagem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baixe_texto {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.disponivel {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
    background-color: #167BF7;
    width: 50%;
}

.disponivel_titulo { 
    text-align: center;
    padding-bottom: 5%;
}

.disponivel_imagens {
    display: flex;
    justify-content: space-between;
}

.disponivel_nomes {
    display: flex;
    color: var(--branco-principal);
    justify-content: space-between;
}

.disponivel_nomes_texto{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}